#kontener {

    background-color: #37485d;
    max-width: 100%;
    max-height: 100%;

    width: 90%;
    height: 100%;



    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
    border-radius: 15px;
    color: #170d0d;
    overflow: hidden; /* Zabezpiecza przed wydostawaniem się obrazu poza div */
    padding: 3%;
}
.car_screen_main 
{
  
   
  
    position: fixed;
    left: 7%;
  
    width: 100%;
    height: 100%;
}
.car_screen {  
    border-radius: 35px;
    position: fixed;
    left: 7%;
    top: 13%;
    width: 68%;
    height: 72%;
    background-color: #37485d;
    margin-left: 12%;
    margin-top: 2%;
    display: flex;
    overflow: hidden;
  
    align-items: center;
    justify-content: center;}

#kwadrat_1
{
    width: 40%;
    height: 90%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 10%;

    text-align: center;
    float: left;
    border-radius: 15px;

    justify-content: center;
    align-items: center;


    float: left;
    overflow: hidden; /* Zabezpiecza przed wydostawaniem się obrazu poza div */

    padding: 1%;
}



#kwadrat_2
{
    width: 45%;
    height: 80%;
    margin-top: 1%;
    text-align: center;
    float: left;
    padding: 1%;
    align-items: center;
}

.ikona
{
    width: 35%;
    height: 35%;
    max-width: 35%;
    max-height: 35%;
    padding: 3%;


    
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 15px;

    justify-content: center;
    align-items: center;

    background-color: rgb(144, 233, 144); /* Ustaw zielone tło dla każdego kwadratu */
    border: 5px solid rgba(233, 186, 144, 0.395); /* Dodaj obramowanie */
    float: left;
    overflow: hidden; /* Zabezpiecza przed wydostawaniem się obrazu poza div */

}

.obrazy {

    justify-content: center;
    align-items: center;
    width: 98%; /* Dostosuj szerokość obrazu do 100% szerokości rodzica */
    height: 98%; /* Dostosuj wysokość obrazu do 100% wysokości rodzica */
    object-fit: cover; /* Dostosuj zachowanie obrazu wewnątrz obiektu do "cover" */
}


.wielki_obraz {

    justify-content: center;
    align-items: center;
    width: 90%; /* Dostosuj szerokość obrazu do 100% szerokości rodzica */
    height: 90%; /* Dostosuj wysokość obrazu do 100% wysokości rodzica */
    object-fit: cover; /* Dostosuj zachowanie obrazu wewnątrz obiektu do "cover" */
}

.napisy_dla_kwadrat_2 {
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    object-fit: cover;
    color: black; /* Ustawienie koloru czcionki na czarny */
    font-weight: bold; /* Ustawienie czcionki jako pogrubiona */
}

.napisy_dla_kwadrat_1 {
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    object-fit: cover;
    color: rgb(220, 194, 45); /* Ustawienie koloru czcionki na czarny */
    font-weight: bold; /* Ustawienie czcionki jako pogrubiona */
    font-size: 37px; /* Ustawienie rozmiaru czcionki na 48 pikseli */
}