#kontener {

   
    max-width: 100%;
    max-height: 90%;

    width: 90%;
    height: 90%;
   


    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
    border-radius: 15px;
    color: #170d0d;
    overflow: hidden; /* Zabezpiecza przed wydostawaniem się obrazu poza div */

}

.indicators_site_main 
{
  
   
  
    position: fixed;
    left: 7%;
  
    width: 100%;
    height: 100%;
}
.indicators_site {  
    border-radius: 35px;
    position: fixed;
    left: 5%;
    top: 3.5%;
    width: 72%;
    height: 60%;
    background-color: #37485d;
    margin-left: 12%;
    margin-top: 2%;
    display: flex;
    overflow: hidden;
    top:18%;
  
    align-items: center;
    justify-content: center;}

#napis_na_gorze
{
    margin-top: 1%;
    text-align: center;

}


.rzad_1 {
    width: 11%;
    height: 19%;
    max-width: 11%;
    max-height: 20%;
    padding: 1%;

    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 15px;

    justify-content: center;
    align-items: center;

    background-color: rgb(144, 166, 233); /* Ustaw zielone tło dla każdego kwadratu */
    border: 5px solid rgba(150, 144, 233, 0.395); /* Dodaj obramowanie */
    float: left;
    overflow: hidden; /* Zabezpiecza przed wydostawaniem się obrazu poza div */

}
.rzad_1:hover {
    background-color: rgb(186, 186, 186); /* Zmień na dowolny kolor, jaki chcesz */
    /* Dodatkowe stylizacje po najechaniu myszką, jeśli są potrzebne */
}


.rzad_2 {
    width: 11%;
 
    max-width: 11%;
    max-height: 20%;
    padding: 1%;


    
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 15px;

    justify-content: center;
    align-items: center;

    background-color: rgb(144, 166, 233); /* Ustaw zielone tło dla każdego kwadratu */
    border: 5px solid rgba(150, 144, 233, 0.395); /* Dodaj obramowanie */
    float: left;
    overflow: hidden; /* Zabezpiecza przed wydostawaniem się obrazu poza div */
    

}
.rzad_2:hover {
    background-color: rgb(186, 186, 186); /* Zmień na dowolny kolor, jaki chcesz */
    /* Dodatkowe stylizacje po najechaniu myszką, jeśli są potrzebne */
}

.rzad_3 {

    width: 11%;
    max-height: 20%;
    max-width: 11%;
    max-height: 20%;
    padding: 1%;

    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 15px;

    justify-content: center;
    align-items: center;
    background-color: rgb(144, 166, 233); /* Ustaw zielone tło dla każdego kwadratu */
    border: 5px solid rgba(150, 144, 233, 0.395); /* Dodaj obramowanie */
    float: left;
    overflow: hidden; /* Zabezpiecza przed wydostawaniem się obrazu poza div */
    

}
.rzad_3:hover {
    background-color: rgb(186, 186, 186); /* Zmień na dowolny kolor, jaki chcesz */
    /* Dodatkowe stylizacje po najechaniu myszką, jeśli są potrzebne */
}

.obrazy {

    justify-content: center;
    align-items: center;
    width: 80%; /* Dostosuj szerokość obrazu do 100% szerokości rodzica */
    height: 80%; /* Dostosuj wysokość obrazu do 100% wysokości rodzica */
    object-fit: cover; /* Dostosuj zachowanie obrazu wewnątrz obiektu do "cover" */
}



