@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");



body {
  margin: 0;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto";
  color: #000000;
  user-select: none;
  align-items: center;
}


.navbar {
  position: fixed;
  left:0px;
  height: 100%;
  width: 7%;
  background-color: #303945;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

}

.nav_buttons{
 
  height: 80%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.tiles{

  position: fixed;
  left:7%;
  top:3.5%;
}
.mini_map{
  background-color: #37485D;
  border-radius: 35px;
  position: fixed;
  height: 91%;
  width: 38%;
  margin: 2%;
}

.radio_mini{
  background-color: #37485D;
  border-radius: 35px;
  position: fixed;
  left: 50%;
  width: 47%;
  height: 45%;
  margin-top: 2%;
  
}

.contacts_mini{
  background-color: #37485D;
  border-radius: 35px;
  position: fixed;
  left: 50%;
  width: 17%;
  height: 45%;
  top: 50%;
  margin-top: 2%;
  
}

.buttons_mini{
  background-color: #37485D;
  border-radius: 35px;
  position: fixed;
  left: 70%;
  width: 27%;
  height: 45%;
  top: 50%;
  margin-top: 2%;
  display:flex;
align-items: center;
justify-content: center;
  flex-wrap: wrap;

}

.top_bar{

  position: fixed;
  left: 7%;
  top: 0;
  width: 100%;
  height: 3.5%;
  background-color: #D4D4D4;
  display:flex;
  align-items: center;


}
.date{

  color: #37485D;
  font-weight: bold;
  font-size: larger;
}

.time {
  color: #37485D;
  position: relative;
  
  left: 37%;
  font-weight: bold;
  font-size:x-large;
}

.button{
  background-color: #303945;
  border-radius: 35px;
  width: 27%;
  height: 28%;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left:  2%;
display: flex;
align-items: center;
  justify-content: center;

}

.button2{
  background-color: #303945;
  border-radius: 35px;
  width: 61.5%;
  height: 28%;
  margin-left:  2%;
  display:flex;
  align-items: center;
  justify-content: center;

    
 

}

.arrow_up{
 position: relative;
 margin-left: 5%;
  height: 70%;
  width: 30%;
   
  }

.arrow_down{
rotate: 180deg;
height: 70%;
width: 30%;
position: relative;
margin-right: 5%;
 
}

/* Dodaj animację */
.clicked {
  transform: scale(0.9);
  transition: transform 0.05s ease-in-out;
}

.degree{
  font-size: 320%;
  color: #D4D4D4;
  font-weight: bolder;
}

.nav_img{

  height: 70%;
  width: 70%;

}


/* Styl dla pierwszego punktu */
.punkt1 {
  background-image: url("./assets/phone_in.svg");

}

/* Styl dla drugiego punktu */
.punkt2 {
  background-image: url("./assets/phone_out.svg");
}

/* Styl dla trzeciego punktu */
.punkt3 {
  background-image: url("./assets/phone_missed.svg");
}

li{

padding: 1% 0 2% 30%;
list-style: none;

background-repeat: no-repeat;
background-position: left center;
background-size: 20%;
color: #D4D4D4;
 






}

.map_test{

  width: 90%;
  height: 90%;
  margin:5%;
}

.icon{
 height: 80%;
 width:60%;

}